.DS_Store
Taxi_AWG_final/SRS/architecture/C4_Containers_MSA.drawio
Taxi_AWG_final/SRS/architecture/.$С4_Сomponents_Монолит.drawio.bkp
Taxi_AWG_final/SRS/architecture/.$С4_Context.drawio.bkp
Taxi_AWG_final/SRS/architecture/.$С4_Containers. Монолит.drawio.bkp
Taxi_AWG_final/SRS/architecture/.$С4._Components. MSA.drawio.bkp
Taxi_AWG_final/SRS/architecture/.$C4_Containers_MSA.drawio.bkp
Taxi_AWG_final/SRS/architecture/C4_Containers_MSA.drawio
Taxi_AWG_final/SRS/architecture/C4_Containers_MSA.drawio
Taxi_AWG_final/SRS/architecture/С4._Components. MSA.drawio
Taxi_AWG_final/SRS/architecture/С4_Containers. Монолит.drawio
Taxi_AWG_final/SRS/architecture/С4_Context.drawio
Taxi_AWG_final/SRS/architecture/С4_Сomponents_Монолит.drawio
Taxi_AWG_final/SRS/architecture/С4._Components. MSA.drawio
Taxi_AWG_final/SRS/architecture/C4_Containers_MSA.drawio
